:root{
    --bg:black;
    --text: white;
    --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-L3-bg: #26a641;
    --color-calendar-graph-day-L2-bg: #006d32;
    --color-calendar-graph-day-L1-bg: #0e4429;
    --color-calendar-graph-day-bg: #161b22;
    --gold: #ffff00;
}
/* Controbution calender Day colors */
.ContributionCalendar-day[data-level='0'] {
    background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level='1'] {
    background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level='2'] {
    background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level='3'] {
    background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level='4'] {
    background-color: var(--color-calendar-graph-day-L4-bg);
}
.ContributionCalendar-day{
    
    border: solid 1px var(--bg);
}
.navbar{
    padding:auto !important;    
}
.text-center{
    margin: auto;
}

/* Container for calender */
.calendar-graph{
    border: blue;
}
.calendar{
    border:2px solid var(--gold);
    border-radius: 3px;
    background-color: var(--bg);
}
.calendar div{
    border: none!important;
    
}
.calcon{
    margin: auto;
    margin-bottom: 5px; /* 5px bottom margin to give the progects some space */

}
body{
    background-color: var(--bg);
    color: var(--text);
}
.container{
    width: 60%;
}

.github-card{
    border: 1px solid var(--gold);
    margin: 5px;
    border-radius: 10px;
    height: 150px;
    padding: 5px;
    overflow: hidden;
}
.github-card-no-rando{
    border: 1px solid var(--gold);
    margin: 5px;
    border-radius: 10px;
    height: 150px;
    padding: 5px;
    overflow: hidden;
    width: 30%;
    display: inline-block;
}
.card{
    color:var(--text);
    background-color: var(--bg);
    border: 3px solid var(--gold);
}
.nodeco{
    color:var(--text);
    text-decoration: none;
}
.card{
    padding: 5px;
}

/* for the table containing my scheual. sce stands for scedual */
.sce tr th{
    border:1px solid var(--gold);
}
.sce tr td{
    border:1px solid var(--gold);
}
.sce{
    width: 100%;
}
.git-prof{
    max-width: 100% !important;
    height: auto;
}
.card{
    border: 2px solid var(--gold);
}
a{

    color:var(--txt);
    text-decoration-skip-ink: none;
    text-decoration:solid underline blue 3px;

}
hr{
    background-color: var(--gold);
    height:2px;
    color: transparent ;
}